/backend/tiles/*
/backend/ai_results/*
/backend/dicom_cache/*
/.claude/*
/backend/uploads/*
*.pyc
__pycache__/
/backend/model/*
/backend/.secrets.json
.env
.env.postgres
project.tar
/mongo_backup/*
tools/
certs/
/backend/certs/*
/mongo_dump/*
annotations/
/backend/annotations/
backend/annotations/CODIPAI-BRCA-SS-00194-S-TP-01.svs/annotations.json
/backend/cell_annotation/*
Philips_SDK/
/outputs/manual_ppt/*
